<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TryMVC.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A2DB771A1E5439F2005A8F54</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A2DB772E1E5439F2005A8F54</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A2DB77391E5439F2005A8F54</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
